.course_container {
  @apply flex flex-col  gap-5;
  @screen lg {
    > div:last-child {
      @apply -z-10;
      > * {
        @apply -z-10;
      }
    }
  }
}
.interview_course_container {
  > div:last-child {
    @apply z-10;
  }
}

.img_container {
  @apply w-full overflow-hidden;
  height: 15rem;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

.course_contents_list {
  @apply flex flex-col gap-3;
}

.list_container {
  @apply opacity-0 flex gap-2 items-center w-full;
  > svg {
    @apply w-4 h-4;
  }
  > div {
    width: 80%;
    > h3 {
      @apply text-sm font-semibold text-text-main-600;
    }
    > p {
      @apply text-sm text-text-main-300;
    }
  }
}
.list_container_active {
  @apply animate-slideInRight;
  animation-duration: 1s;
  animation-fill-mode: forwards;
}

.course_heading {
  @apply text-3xl font-bold text-text-main-600 leading-10 opacity-0 animate-slideInBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 0.5s;
}

.contents {
  @apply flex flex-col gap-10 py-2 px-1;
  > h2 {
    @apply text-2xl font-bold text-accent-600;
  }
}

.spoiler_container {
  @apply py-3 flex flex-col gap-5;
  border-top: 1px solid rgba(0, 0, 0, 0.2);
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
  > button {
    @apply flex justify-between text-2xl text-start font-bold text-accent-600;
    > span {
      max-width: 1.5rem;
      max-height: 1.5rem;
    }

    &:focus-visible {
      @apply bg-gray-200;
    }
  }
  .spoiler_content {
    @apply overflow-y-hidden overflow-x-hidden pointer-events-none opacity-0 transition-all duration-200;
    max-height: 0rem;
    scrollbar-width: 0px;
  }
  .spoiler_content_active {
    @apply pointer-events-auto opacity-100;
    max-height: 1000rem;
  }
}

.requirements {
  @apply font-bold flex flex-col gap-5;
  > li {
    @apply ml-5 list-disc text-sm text-text-main-500;
  }
}

.course_intro {
  @apply text-xs font-bold my-5 opacity-0 animate-slideInBottom;
  animation-duration: 1s;
  animation-fill-mode: forwards;
  animation-delay: 1.5s;
  @screen md {
    @apply text-md;
  }
}

.price {
  @apply flex flex-col gap-2 py-2 animate-fadeIn;
  animation-duration: 1.5s;

  > span {
    @apply text-accent-500 text-4xl font-bold;
  }
  > p {
    @apply text-text-main-600 font-bold text-sm opacity-60;
  }
}

.general_course_description {
  @apply flex flex-col gap-3;
}

.course_p {
  @apply text-xs font-bold  text-text-main-500;
}

.interview_course_spoilers {
  @apply flex flex-col gap-2;
  > div {
    > button:first-child {
      @apply text-base text-text-main-500;
      font-style: normal;
    }
  }
}

.floating_box {
  @apply overflow-hidden fixed top-0 right-0 z-10 rounded shadow-bothMd bg-main-600;
  border: 2px solid rgba(0, 0, 0, 0.2);
  min-width: 22rem;
  max-width: 22rem;
  height: max-content;
  .floating_box_children {
    @apply flex flex-col gap-5 px-4 py-5;
  }
}

.course_large_layout {
  @apply flex justify-between gap-5;
  filter: opacity(1);
  > *:first-child {
    @apply flex flex-col gap-5;
    max-width: 63%;
  }
}
