.container {
  @apply relative overflow-hidden mt-16;
}

.grouping {
  @apply flex flex-col w-full;
  @screen md {
    @apply flex-row;
    > div:first-child {
      @apply w-full;
    }
    > div:nth-child(2) {
      flex-grow: 1;
    }
  }
}

.general_english_wrapper,
.it_english_wrapper,
.interview_wrapper {
  .product_heading {
    > h2 {
      @apply text-transparent text-3xl leading-10;
    }
    > h3 {
      @apply text-xs font-bold uppercase;
    }

    @screen md {
      > h2 {
        font-size: 2.5rem;
      }
      > h3 {
        @apply text-xl;
      }
    }
  }
}

.general_english_wrapper {
  background-color: var(--tetradic-2);
  .product_heading {
    > h2 {
      -webkit-text-stroke: 1px var(--accent-500);
    }
    span {
      color: var(--analagous-4);
    }
  }
  .link_container {
    > a {
      @apply text-main-200 border-main-200;
      background-color: var(--analagous-4);
      @media (hover: hover) {
        &:hover {
          @apply text-transparent bg-black;
          border-color: var(--analagous-4);
          -webkit-text-stroke: 1px var(--analagous-4);
        }
      }
      &:focus-visible {
        @apply text-transparent bg-black;
        border-color: var(--analagous-4);
        -webkit-text-stroke: 1px var(--analagous-4);
      }
    }
  }
}
.it_english_wrapper {
  @apply bg-accent-600;
  border-top: 3px solid rgba(0, 0, 0, 0.5);
  border-bottom: 3px solid rgba(0, 0, 0, 0.5);
  @screen md {
    border-top: 0px;
    border-bottom: 0px;
    border-left: 3px solid rgba(0, 0, 0, 0.5);
  }
  .product_heading {
    > h2 {
      -webkit-text-stroke: 1px var(--main-200);
    }
    > h3 {
      @apply text-main-300;
    }

    span {
      @apply text-black;
    }
  }
  p {
    @apply text-main-600;
  }
  .link_container {
    > a {
      @apply bg-main-600 border-black;
      @media (hover: hover) {
        &:hover {
          @apply text-transparent bg-black border-main-600;
          -webkit-text-stroke: 1px var(--main-600);
        }
      }
      &:focus-visible {
        @apply text-transparent bg-black border-main-600;
        -webkit-text-stroke: 1px var(--main-600);
      }
    }
  }
}
.interview_wrapper {
  @apply relative bg-analagous-1 overflow-hidden;
  .product_heading {
    > h2 {
      -webkit-text-stroke: 1px var(--text-main-300);
    }
    span {
      @apply text-accent-600;
    }
  }
  .link_container {
    > a {
      @apply bg-accent-200 border-main-200;
      @media (hover: hover) {
        &:hover {
          @apply text-transparent bg-black border-accent-600;
          -webkit-text-stroke: 1px var(--accent-600);
        }
      }
      &:focus-visible {
        @apply text-transparent bg-black border-accent-600;
        -webkit-text-stroke: 1px var(--accent-600);
      }
    }
  }
  .bg_svg_container {
    @apply absolute right-0 opacity-20 rotate-90;
    top: -5rem;
    width: 20rem;
    height: 20rem;
  }
}

.product_heading {
  @apply w-full flex flex-col gap-3;
  max-width: 40rem;
}

.interview_body_container,
.general_body_container,
.it_body_container {
  @apply flex flex-col items-center gap-5 relative z-10;
  > p {
    @apply font-bold text-tiny;
    max-width: 40rem;
    @screen md {
      @apply text-md;
    }
  }
}

.bg_rotated {
  @apply absolute top-1/3 opacity-40 right-0 rotate-90;
  z-index: 5;
  top: 15%;
  left: 80%;
  > h2 {
    @apply text-transparent text-center font-bold text-4xl w-max uppercase;
    font-size: 7rem;
    letter-spacing: 0.5rem;
    -webkit-text-stroke: 1px var(--accent-200);
  }
  @screen md {
    @apply hidden;
  }
}

.course_link {
  @apply flex cursor-pointer items-center font-bold uppercase relative z-10 align-middle
   transition-all duration-300 justify-center rounded-full px-1 py-3 text-md gap-2;
  letter-spacing: 0.2rem;
  border: 2px solid;
  width: 18rem;
  > span {
    @apply w-5 h-5  text-accent-600 transition-all duration-200;
  }

  @screen md {
    @apply text-md mx-auto;
    /* width: 50rem; */
  }
}
