.social {
  @apply rounded-lg h-full w-full opacity-80 transition-all duration-300;

  @media (hover: hover) {
    @apply hover:opacity-100 hover:text-accent-400;
  }
  &:focus-visible {
    @apply hover:opacity-100 hover:text-accent-400;
  }
}

.icon_btn {
  @apply rounded-lg h-8 w-8  transition-all duration-300;

  @media (hover: hover) {
    @apply hover:text-text-main-200;
  }
  &:focus-visible {
    @apply hover:text-text-main-200;
  }
}

.reference {
  @apply underline text-inherit transition-colors duration-200;

  @media (hover: hover) {
    @apply hover:text-accent-200;
  }
  &:focus-visible {
    @apply text-accent-200;
  }
}

.enroll {
  @apply transition-all bg-accent-600 px-1 py-3 text-base font-bold duration-300 text-white;

  @media (hover: hover) {
    @apply hover:bg-black hover:text-accent-600;
  }
  &:focus-visible {
    @apply bg-black text-accent-600;
  }
}

.headerLink_wrapper {
  @apply flex relative gap-2 text-sm font-bold items-center opacity-80 transition-colors;
  @screen sm {
    @apply text-md;
  }
  > span {
    @apply h-5 w-5;
  }
  &::before {
    @apply absolute opacity-0 rounded-sm left-0 w-0 transition-all bg-accent-500;
    content: "";
    height: 0.15rem;
    top: calc(100% + 0.5rem);
  }
  @media (hover: hover) {
    &:hover {
      @apply text-accent-500;
      &::before {
        @apply opacity-100 w-full;
      }
    }
  }
  &:focus-visible {
    @apply text-accent-500;
    &::before {
      @apply opacity-100 w-full;
    }
  }
}

.header_active {
  @apply text-accent-500 opacity-100;
  &::before {
    @apply opacity-100 w-full;
  }
}
