@import "../../styles/utils";

.container {
  @apply relative mx-auto;
  /* @extend %content-padding; */
  .wrapper {
    @apply relative;
    .heading {
      @apply absolute left-5 top-1/2 z-10 rounded-full flex flex-col gap-10;
      mix-blend-mode: difference;
      > h1 {
        @apply relative opacity-0 z-10 text-white  font-bold text-3xl animate-slideInTop;
        letter-spacing: 0.08rem;
        animation-fill-mode: forwards;
        animation-delay: 0.8s;
      }
      > h2 {
        @apply italic leading-10 opacity-0 font-normal text-2xl text-white animate-slideInBottom;
        animation-delay: 1s;
        animation-fill-mode: forwards;
        animation-duration: 1s;
        letter-spacing: 0.1rem;
      }
      @screen sm {
        > h1 {
          @apply text-4xl;
        }
        > h2 {
          @apply text-xl;
        }
      }
      @screen md {
        > h1 {
          @apply text-5xl;
        }
        > h2 {
          @apply text-4xl;
        }
      }
    }

    .hero_img {
      @apply relative mx-auto overflow-hidden rounded-r-full rounded-l-full;
      height: 25rem;
      width: 15rem;
      > img {
        @apply w-full h-full;
        object-fit: cover;
        @screen sm {
          object-fit: fill;
        }
      }
      @screen sm {
        @apply w-1/2 h-full;
      }
      @screen md {
        max-width: 20rem;
        max-height: 35rem;
      }
    }
  }

  .subhero {
    @apply mt-16 mx-auto;

    > p {
      @apply text-text-main-300 text-xl flex flex-col gap-5 animate-slideInLeft opacity-0 leading-7;
      animation-delay: 1.2s;
      animation-fill-mode: forwards;
      animation-duration: 1s;
      > span {
        @apply font-bold text-accent-600;
      }

      @screen sm {
        @apply text-2xl;
      }
    }
  }
}

.info_boxes_right {
  @apply absolute   hidden;

  @apply top-1/2;
  transform: translateY(-70%) translateX(-10%);
  right: 10%;
  @screen lg {
    @apply block;
    > div {
      @apply opacity-0  flex flex-col gap-16 animate-scaleIn;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
  }
}
