@import "../../styles/utils";

.container {
  @apply relative mx-auto;
  /* @extend %content-padding; */
  .wrapper {
    @apply relative;
    .heading_wrapper {
      @apply w-full h-full absolute left-0 top-1/2 z-10 -translate-y-1/2 flex justify-center items-center;
      .heading {
        @apply text-center flex flex-col gap-5;
        max-width: 35rem;
        > h1 {
          @apply uppercase relative opacity-0 z-10 text-main-200 leading-10 font-bold text-2xl  animate-slideInTop;
          letter-spacing: 0.08rem;
          animation-fill-mode: forwards;
          animation-duration: 1s;
          animation-delay: 0.8s;
        }
        > p {
          @apply text-sm text-main-200 font-bold opacity-0 animate-slideInBottom;
          animation-fill-mode: forwards;
          animation-duration: 1s;
          animation-delay: 1.2s;
        }

        @screen sm {
          > h1 {
            @apply text-4xl leading-relaxed;
          }
        }
      }
    }
  }
}
.hero_img_container {
  @apply relative flex items-center;
  .hero_img {
    @apply w-full relative mx-auto overflow-hidden;
    /* background-image: url("https://thumb.tildacdn.com/tild3231-6531-4539-a466-643736393235/-/format/webp/3_copy.jpg"); */
    background-image: url("/static/images/hero.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    height: 35rem;
  }

  &::before {
    @apply absolute top-0 left-0 w-full h-full;
    content: "";
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 2;
  }
}

/* .info_boxes_right {
  @apply absolute   hidden;

  @apply top-1/2;
  transform: translateY(-70%) translateX(-10%);
  right: 10%;
  @screen lg {
    @apply block;
    > div {
      @apply opacity-0  flex flex-col gap-16 animate-scaleIn;
      animation-duration: 1s;
      animation-delay: 2s;
      animation-fill-mode: forwards;
    }
  }
} */
