@tailwind base;
@tailwind components;
@tailwind utilities;
@import "../../public/static/font/stylesheet.css";
@import "./utils";
*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root {
  --main-600: #fbf2e1;
  --main-500: #faf2e2;
  --main-400: #f8f1e4;
  --main-300: #f9f0e5;
  --main-200: white;

  --bg-var1: #f5f0e4;

  --complimentary: #e4e9f5;
  --analagous-1: #f5e8e4;
  --analagous-2: #f5e8e4;
  --analagous-3: #f2f5e4;
  --analagous-4: #ea98b4;
  --tetradic-1: #e4f5f0;
  --tetradic-2: #f5e4e9;
  --monochromatic-1: #917636;

  --text-main-600: #31221c;
  --text-main-500: #3d2b23;
  --text-main-400: #49342a;
  --text-main-300: #563d31;
  --text-main-200: #624538;

  --accent-600: #db1d16;
  --accent-500: #db1d16;
  --accent-400: #db1d16;
  --accent-300: #dc6159;
  --accent-200: #eaa598;
}

html,
body,
#__next {
  width: 100%;
  height: 100%;
}

html {
  line-height: 1.3rem;
  overflow-x: hidden;
  letter-spacing: 0.05rem;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-feature-settings: "cv02", "cv03", "cv04", "cv11";
  tab-size: 2;
  font-family: "Mont", sans-serif;
  font-weight: normal;
  letter-spacing: -0.005em;
}

body {
  @apply bg-bg-var1 mx-auto relative;
  max-width: 1800px;
}

a {
  appearance: none;
  text-decoration: none;
  outline: none;
}

input,
button {
  outline: none;
  appearance: none;
}

svg {
  width: 100%;
  height: 100%;
}
